.page-title-box {
  padding: 10px 0;
  border-top: 1px solid $light-gray;

  .page-title {
    font-size: 57px;
    line-height: 70px;
    margin: 0;
  }

  @media only screen and (max-width: $mobile) {
    padding: 10px 0;

    .page-title {
      font-size: 47px;
      line-height: 53px;
    }
  }
}

.page__head {
  text-align: center; /* 居中 */

  .page-image {
    width: 80vw;       /* 宽度为窗口的 80% */
    height: auto;      /* 高度自动，保持原比例 */
    display: block;    /* 去掉底部空白间隙 */
    margin: 0 auto;    /* 水平居中 */
  }
  margin-bottom: 0  !important;
}

.page {
  margin-top: 0 !important;
  padding-top: 0 !important;

 
  img {
    display: block;     /* 让 margin: auto 生效 */
    height: 300px;      /* ← 固定高度（随你改） */
    width: auto;        /* ← 自动宽度，保持比例 */
    margin: 10px auto;  /* ← 上下空隙 + 水平居中 */
    object-fit: contain;/* 保证等比例缩放，不裁切 */
  }

  @media only screen and (max-width: $tablet) {
    margin: 10px auto;
  }
}

.page-box {
  text-align: center;

  .back-arrow {
    a {
      display: inline-block;
      margin-left: 10px;
      color: $dark;
      font-weight: 700;
      &:hover {
        color: $black;
      }
    }
  }
}
