.hero {
  padding: 80px 0;
  margin-bottom: 80px;
  background: #f5f5f5;

  .last-item {
    display: flex;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0 40px 0 0;
    
    .hero__title {
      font-size: 38px;
      font-weight: normal;
    }

    .hero__subtitle {
      font-size: 18px;
      line-height: 32px;
      letter-spacing: 0.5px;
    }

    .hero__social-all {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
    }

    .hero__social-icons {
      display: flex;
      align-items: center;
      gap: 6px;
    }
    
    .hero__social-title {
      white-space: nowrap;  /* 防止自动换行 */
      font-weight: 700;
      margin-left: 6px;
    }

        
    .hero__cv-links {
      display: flex;
      align-items: center;
      gap: 8px;
    }
    
    
    .hero__cv-title {
      white-space: nowrap;  /* 防止自动换行 */
      font-weight: 700;
      margin-left: 20px;
    }
    .cv-link {
      text-decoration: none;
      font-weight: 600;
    }


    .hero__social-title {
      font-weight: 700;
    }

  }

  .hero__image {
    img {
      box-shadow: 0 1px 4px rgba(0,0,0,0.15);
    }
  }

  @media only screen and (max-width: $desktop) {
    .hero__content {
      padding: 0;

      .hero__subtitle {
        font-size: 16px;
        line-height: 28px;
      }
    }
  }

  @media only screen and (max-width: $tablet) {
    margin-bottom: 40px;

    .last-item {
      order: 1;
    }

    .hero__content {
      .hero__title {
        margin-bottom: 20px;
        font-size: 27px;
      }
    }

    .hero__image {
      margin-bottom: 20px;
      
      img {
        box-shadow: none;
      }
    }
  }

  @media only screen and (max-width: $mobile) {
    padding: 40px 0;
  }
}
